*, ::before, ::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
    height: 250px;
    width: 400px;
    background-color: rgb(29, 29, 32);
 
    z-index: 0;
}

.card-container > p {
    margin: 2rem;
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
}

.btn-container {
    position: relative;
    width: 90%;
    padding: .5rem;
 
}

.push-me-btn {
    width: 100%;
    padding: 0px;
    border: none;
 
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}

.push-me-btn::before, .push-me-btn::after{
    content:"";
    display: block;
    position: absolute;
    left: 8%;
    height: calc(50% - .4rem);
    border: 1px solid bisque;
 
    z-index: -1;
    transform: scaleY(.3);
    transition: transform .1s ease-in-out .25s, left .2s, width .2s;
}

.push-me-btn::before {
    top: 0px;
    width: 84%;
    border-bottom: 0px;
}

.push-me-btn::after {
    bottom: 0px;
    width: 84%;
    border-top: 0px;
}

.btn-text {
    display:block;
    position: relative;
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    overflow: hidden;
    z-index: 1;
}

.btn-text::before {
    content: "";
    display: block;
    position: absolute;
    height: calc(100% - .3rem);
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: bisque;
 
}

.btn-text::after {
    content: "";
    display: block;
    position: absolute;
    height: .3rem;
    width: calc(100% - .3rem);
    /* left: .3rem; */
    top: 0;
    right: 0;
    background-color: bisque;
 
}

.btn-text-span {
    display: block;
    position: relative;
    padding: 1rem 3rem;
    background-color: transparent;
    z-index: 1;
 
    font-family: 'Catamaran', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    color: rgb(29, 29, 32);
    transition: color .1s .1s;
}

.btn-text-span::after {
    content: "";
    position: absolute;
    width: .4rem;
    height: .4rem;
    bottom: 0;
    right: 0;
    background-color:rgb(29, 29, 32);
    transition: background-color .2s ease-in-out  .1s;
}

.red-overlay {
    background-color: rgb(201, 40, 40);
    position: absolute;
    top: 0;
    left: -5%;
    height: 100%;
    width: 120%;
    transform: translateX(-105%) skew(-10deg);
    z-index: 1;
    transition: transform .3s ease-in-out;
    /* mix-blend-mode: normal; */
 
}

.push-me-btn:hover .btn-text-span {
    color: bisque;
}

.push-me-btn:hover .red-overlay {
    transform: translateX(0%) skew(-10deg);
}

.push-me-btn:hover .btn-text-span::after {
    background-color: bisque;
}

.push-me-btn:hover:before, .push-me-btn:hover:after{
    width: 100%;
    left: 0%;
    transform: scaleX(1);
    transition: transform .1s;
}

.push-me-btn:active:before, .push-me-btn:active:after{
    transform: scale(.9);
}
